@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@0;1&display=swap');
*,body{
     font-family: 'Charis SIL', serif;
     font: 1rem sans-serif;
     margin: 0;
 }
.navbar{
    background-color: rgb(227, 219, 211);
}
 .navbar ,ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
 }

 li a{
    text-decoration: none;
    margin-left: 3rem;
    color: #3e4d5e;
    font-size: large;
    
 }

 a{
      text-decoration: none;
        color: inherit;
 }

 .navbar img{
    height: 5rem;
    width: 8rem;
    margin-left: 3rem;
 }

 .navbar button{
    margin-right: 3rem;
    background-color: rgb(95, 49, 49);
    color:rgb(227, 219, 211) ;
    padding: .5rem .7rem;
    border-radius: 20%;
    font-size: large;
}

 li a:hover{
    color: rgb(95, 49, 49);
    transform: .3s ease-in-out;
    font-size: larger;
    border-bottom: 2px solid #3e4d5e;
 }